<div class="row">
   
    <div class="shadow-lg col-sm-3 p-3" style="width: 18 rem;">
    <div  class="card" >
        
   <div class="cardbody p-1">
    <img  class="img-fluid" src="assets/House.jpg" width="200" height="400" alt="image">
<!-- <h3>{{Property.Id}}</h3> -->
<h3>{{Property.Name}}</h3>
<h3>{{Property.Type}}</h3>
<h3>{{Property.Price}}</h3>
</div> 
</div>
</div>
<div class="shadow-lg col-sm-3 p-3" style="width: 18 rem;">
    <div  class="card" >
 
   <div class="cardbody p-1">
    <img  class="img-fluid" src="assets/House.jpg" width="200" height="400" alt="image">
<!-- <h3>{{Property.Id}}</h3> -->
<h3>{{Property.Name}}</h3>
<h3>{{Property.Type}}</h3>
<h3>{{Property.Price}}</h3>
</div> 
</div>
</div>
<div class="shadow-lg col-sm-3 p-3" style="width: 18 rem;">
    <div  class="card" >
 
   <div class="cardbody p-1">
    <img  class="img-fluid" src="assets/House.jpg" width="200" height="400" alt="image">
<!-- <h3>{{Property.Id}}</h3> -->
<h3>{{Property.Name}}</h3>
<h3>{{Property.Type}}</h3>
<h3>{{Property.Price}}</h3>
</div> 
</div>
</div>
<div class="shadow-lg col-sm-3 p-3" style="width: 18 rem;">
    <div  class="card" >
 
   <div class="cardbody p-1">
    <img  class="img-fluid" src="assets/House.jpg" width="200" height="400" alt="image">
<!-- <h3>{{Property.Id}}</h3> -->
<h3>{{Property.Name}}</h3>
<h3>{{Property.Type}}</h3>
<h3>{{Property.Price}}</h3>
</div> 
</div>
</div>
</div>

